body{
  background: #808080;
}

.header{
  text-align: center;
  color: #DCDCDC;
}

canvas{
  padding:0;
  margin:10px 0px 0px 150px;
  height: 500px;
  width: 1200px;
  border: solid;
  background: #ffffff;
}
.footer{
  position: absolute;
  top:600px;
  left:1300px;
  margin-top:10px;
}

button{
  font-size: 20px;
  background: #c4aead;
}

.footer button:hover{
  background: #ffffff;
  font-size: 22px;
}

canvas{
  background: pink;
}
